[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "scmap"]
	path = scmap
	url = https://github.com/hemberg-lab/scmap
	shallow = true
	registered = true
