[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SC3"]
	path = SC3
	url = https://github.com/hemberg-lab/sc3
[submodule "scmap"]
	path = scmap
	url = https://github.com/hemberg-lab/scmap
